{% extends 'base.html.twig' %}

{% block content %}
        {% if articles is not empty %}
            {% for article in articles %}
                <a href="{{ path('article_item', {article: article.id}) }}" class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/uploads/images/article/{{ article.image }}" alt="{{ article.image }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.content|striptags }}</p>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>No articles yet</p>
        {% endif %}
{% endblock %}
